name: Hello World
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    test-hello:
        runs-on: ubuntu-latest

        steps:
            - name: say hello
              run: echo "Hello, Github Actions!"

            - name: Show date
              run: date

            - name: List files
              run: ls -la