name: Python CI

on:
    push:
        branches: [ main, develop ]
    pull_request:
        branches: [ main ]


jobs:
    test:
        runs-on: ubuntu-latest


        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python 3.9
              uses: actions/setup-python@v4
              with:
                  python-version: '3.11'

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Lint with pylint
              run: |
                  pylint app.py --fail-under=8.0
              coutinue-on-error: true

            - name: Run tests
              run: |
                  pytest test_app.py -v